.home_background{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-background-image{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(https://images.unsplash.com/photo-1638184984605-af1f05249a56?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

// .footer-bg-div{
//     position: absolute;
//     top: 410%;
//     transform: translate(0%, -50%);
// }